@font-face {
font-family: 'pixelfy';
src: url('/fonts/pixelfy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html {
letter-spacing: 4px;
font-family: 'pixelfy';
}

body {
font-family: 'pixelfy';
background-color: #060704;
color: #fafbf8;
padding-right: 30px;
margin-bottom: 10px;
overflow: hidden;
height: 99vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
margin: 20px;
margin-right: 40px;
max-width: 100%;  
}

/* HEADER */

.header-container {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.header-left {
display: flex;
align-items: center;
margin-left:6px;
}

.logo {
height: 100px;
width: 100px;
} 

.collect-button {
text-decoration: none;
color: #fafbf8;
font-size: 26px;
border: 1px solid #6800ff;
padding: 8px 30px;
border-radius: 1px;
display: inline-block;
background-color: #060704;
transition: background-color 0.3s ease;
margin-right: 23px;
padding-top:13px;
}
.collect-button:hover {
background-color: #6800ff;
}

/* BODY */

.body-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
margin-left: 42px;
}

.body-left {
font-size: 26px;
text-align: center;
line-height: 1.5;
min-width: 350px;
max-width: 510px;
margin-bottom: 0px;
}

.box {
  inline-size: 40%;
}

.body-right {
width: 54vmin;
height: 54vmin;
margin-left: 100px;
margin-right: 120px;
position: relative;
overflow: hidden;
max-width: 100%;
max-height: 100%;
display: flex;
}

.video-container {
width: 100%;
height: auto;
transition: transform 0.3s ease;
}

.video-container:hover {
 transform: scale(4);
}


.video-container-home {
transform: scale(1.0092);
width: 100%;
height: auto;
transition: transform 0.3s ease;
}

.video-container-home:hover {
 transform: scale(4);
}

.creation {
width: 100%;
height: auto;
}

.white_phyxl {
width: 100%;
height: auto;
}

.loop {
width: 100%;
height: auto;
transform: scale(1.0092);
}

.revenue {
width: 100%;
height: auto;
}

.pfp {
width: 100%;
height: auto;
}

/* FOOTER */

.footer-container {
position: fixed;
bottom: 0;
left: 0;
right: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
margin-left: 5px;
margin-bottom: 10px;
}

.social-icon {
width: 40px;
height: 40px;
margin-right: 15px;
transition: transform 0.3s ease, filter 0.3s ease;
margin-top: 10px;
}

.social-icon:hover {
transform: scale(1.1);
}

.footer-right {
display: flex;
align-items: center;
margin-right: 10px;
z-index: 0;
margin-bottom: 10px;
}

.powered-by {
margin-right: 10px;
font-size: 26px;
z-index: 1;
}

.footer-link {
text-decoration: none;
color: #fafbf8;
margin-right: 15px;
transition: transform 0.3s ease;
z-index: 1;
}

.footer-link:hover {
transform: scale(1.3);
}

.bioniq {
transition: transform 0.3s ease;
width: 30px;
height: 43px;
z-index: 1;
position: relative;
padding-right: 5px;
margin-bottom: -1.5px;
}

.bioniq:hover .bioniq{
transform: scale(1.1);
}

.menu-icon {
width: 75px;
height: 75px;
cursor: pointer;
position: relative; /* Ensure proper stacking context */
z-index: 1001; /* Ensure the icon is above the menu */
margin-right: 20px;
}

.menu {
position: fixed;
padding-top: 140px;
top: 0;
right: 0;
width: 272px; /* Adjust width as needed */
height: 100%;
background-color: #0d0f09;
transition: transform 0.5s ease;
transform: translateX(100%);
z-index: 1000; /* Ensure the menu is below the icon */
}

.menu-button {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 30px;
padding: 15px;
background-color: transparent;
color: #fafbf8;
font-size: 26px;
text-align: left;
cursor: pointer;
transition: transform 0.3s ease, filter 0.3s ease;
transition: color 0.3s ease;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}



.menu-button:hover {
transform: scale(1.1);
color: #6800ff;
}

.submenu-button {
margin-left: 35px;
width: 90%;
height: auto;
margin-top: 10px;
padding: 15px;
background-color: transparent;
color: #fafbf8;
font-size: 20px;
text-align: left;
cursor: pointer;
transition: transform 0.3s ease, filter 0.3s ease;
transition: color 0.3s ease;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}


.submenu-button:hover {
transform: scale(1.1);
color: #6800ff;
}

.submenu-button-select {
margin-left: 35px;
width: 90%;
height: auto;
margin-top: 10px;
padding: 15px;
background-color: transparent;
color: #fafbf8;
font-size: 20px;
text-align: left;
cursor: pointer;
transition: transform 0.3s ease, filter 0.3s ease;
transition: color 0.3s ease;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
transform: scale(1.1);
color: #6800ff;
}


.menu-button-select {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 30px;
padding: 15px;
background-color: transparent;
color: #6800ff;
font-size: 26px;
text-align: left;
cursor: pointer;
transform: scale(1.1);
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}



.footer-left {
display: flex;
margin-left: 20px;
}



.submenu {
  display: none;
  padding-left: 20px;
}

.menu-button.active + .submenu {
  display: block;
}








/* MOBILE */

@media only screen and (min-width: 1150px) {

.web-content {
display: block;
}

.mobile-content {
display: none;
}

}

@media only screen and (max-width: 1150px) {

.web-content {
display: none;
}

.mobile-content {
display: block;
}

body {
align-items: center;
padding: 0px;
margin: 0px;
}

.body-container {
flex-direction: column;
align-items: center;
max-width: 700px;
margin-left: 0px;
margin-top: 100px;
margin-top: 50px;
}

.body-left {
font-size: 16px;
text-align: center;
line-height: 1.2;
margin-top: 0px;
margin-bottom: 85px;
order: 2;
margin-right: 0px;
height: 200px;
}

.body-right {
margin-left: 0px;
width: 64vmin;
height: 64vmin;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 8px;
}

.footer-right {
margin-right: 8px;
}

.powered-by {
margin-right: 7px;
font-size: 16px;
}

.social-icon {
width: 30px;
height: 30px;
	margin-right: 4px;
	margin-top: 50px;
}

.bioniq {
width: 21px;
height: 30px;
padding-right: 0px;
padding-top: 35px;
margin-bottom: -1.5px;
}

.bioniq img {
}

.logo {
height: 70px;
width: 70px;
}

.collect-button {
font-size: 16px;
padding: 8px 17px;
padding: auto;
padding-top: 13px;
padding-left: 20px;
}

.container {
margin: 20px;
margin-left: 20px;
max-width: 100%;  
}

.menu-icon {
width: 60px;
height: 60px;
margin-right: 18px;
}

.menu {
position: fixed;
padding-top: 100px;
top: 0;
right: 0;
width: 200px;
}

.menu-button {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 10px;
padding: 15px;
font-size: 16px;
}

.menu-button-select {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 30px;
padding: 15px;
font-size: 16px;
transform: scale(1.1);
color: #6800ff;
}



.submenu-button {
margin-left: 18px;
width: 90%;
height: auto;
margin-top: 0px;
padding: 10px;
font-size: 16px;
}

.submenu-button-select {
margin-left: 35px;
width: 90%;
height: auto;
margin-top: 12px;
padding: 15px;
font-size: 16px;
transform: scale(1.1);
color: #6800ff;
}

.footer-container {
height: 100px;
margin-bottom: -4px;
}

}
