@font-face {
font-family: 'pixelfy';
src: url('/fonts/pixelfy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html {
letter-spacing: 4px;
font-family: 'pixelfy';
}

body {
font-family: 'pixelfy';
background-color: #060704;
color: #fafbf8;
padding-right: 30px;
margin-bottom: 10px;
overflow: hidden;
height: 99vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
margin: 20px;
margin-right: 40px;
max-width: 100%;  
}

/* HEADER */

.header-container {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.header-left {
display: flex;
align-items: center;
margin-left:6px;
}

.logo {
height: 80px;
width: 80px;
} 


/* BODY */

.body-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
margin-left: 60px;
}

.body-left {
font-size: 26px;
text-align: center;
line-height: 1.5;
min-width: 350px;
max-width: 510px;
margin-bottom: 0px;
}

.box {
  inline-size: 40%;
}

.body-right {
width: 54vmin;
height: 54vmin;
margin-left: 100px;
margin-right: 120px;
position: relative;
overflow: hidden;
max-width: 100%;
max-height: 100%;
display: flex;
}



.creation {
width: 100%;
height: auto;
}

.white_phyxl {
width: 100%;
height: auto;
}

.loop {
width: 100%;
height: auto;
transform: scale(1.0092);
}

.revenue {
width: 100%;
height: auto;
}

.pfp {
width: 100%;
height: auto;
}


.menu-icon {
width: 60px;
height: 60px;
cursor: pointer;
position: relative; /* Ensure proper stacking context */
z-index: 1001; /* Ensure the icon is above the menu */
margin-right: 20px;
}

.menu {
position: fixed;
padding-top: 80px;
top: 0;
right: 0;
width: 20%; /* Adjust width as needed */
height: 100%;
background-color: #0d0f09;
transition: transform 0.5s ease;
transform: translateX(100%);
z-index: 1000; /* Ensure the menu is below the icon */
}

.menu-button {
margin-left: 30px;
width: 90%;
height: auto;
margin-top: 16px;
background-color: transparent;
color: #fafbf8;
font-size: 26px;
text-align: left;
cursor: pointer;
transition: color 0.3s ease;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}



.menu-button:hover {
color: #6800ff;
}

.submenu-button {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 12px;
background-color: transparent;
color: #fafbf8;
font-size: 20px;
text-align: left;
cursor: pointer;
transition: color 0.3s ease;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}


.submenu-button:hover {
color: #6800ff;
}

.submenu-button-select {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 12px;
background-color: transparent;
color: #fafbf8;
font-size: 20px;
text-align: left;
cursor: pointer;
color: #6800ff;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}


.menu-button-select {
margin-left: 30px;
width: 90%;
height: auto;
margin-top: 16px;
background-color: transparent;
color: #6800ff;
font-size: 26px;
text-align: left;
cursor: pointer;
letter-spacing: 4px;
font-family: 'pixelfy';
z-index: 900;
overflow: hidden;
}







.submenu {
  display: none;
  padding-left: 20px;
}

.menu-button.active + .submenu {
  display: block;
}








/* MOBILE */

@media only screen and (min-width: 1150px) {

.web-content {
display: block;
}

.mobile-content {
display: none;
}

}

@media only screen and (max-width: 1150px) {

.web-content {
display: none;
}

.mobile-content {
display: block;
}

body {
align-items: center;
padding: 0px;
margin: 0px;
}

.body-container {
flex-direction: column;
align-items: center;
max-width: 700px;
margin-left: 0px;
margin-top: 100px;
margin-top: 50px;
}

.body-left {
font-size: 16px;
text-align: center;
line-height: 1.2;
margin-top: 0px;
margin-bottom: 85px;
order: 2;
margin-right: 0px;
height: 200px;
}

.body-right {
margin-left: 0px;
width: 64vmin;
height: 64vmin;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 8px;
}






.logo {
height: 60px;
width: 60px;
}


.container {
margin: 20px;
margin-left: 20px;
max-width: 100%;  
}

.menu-icon {
width: 45px;
height: 45px;
margin-right: 18px;
}

.menu {
position: fixed;
padding-top: 65px;
top: 0;
right: 0;
width: 50%;
}

.menu-button {
margin-left: 30px;
width: 90%;
height: auto;
margin-top: 12px;
font-size: 16px;
}

.menu-button-select {
margin-left: 30px;
width: 90%;
height: auto;
margin-top: 10px;
font-size: 16px;
color: #6800ff;
}



.submenu-button {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 10px;
font-size: 13px;
}

.submenu-button-select {
margin-left: 15px;
width: 90%;
height: auto;
margin-top: 10px;
font-size: 16px;
color: #6800ff;
}


}
